:root {
   --bodyColor: rgb(20, 20, 20);
   --textColor: white;
   --topBarColor: rgb(30, 30, 30);
   --hamburgerColor: brightness(100%);
   --textareaColor: rgb(20, 20, 20);
   --buttonColor: rgb(20, 20, 20);
   --textareaAbuttonTextColor: white;
   --yellowColor: rgb(196, 199, 0);
   --greenColor: #52fb9e;
   --blueColor: #63caec;
   --lineColor: white;
}
html {
   overflow: visible;
}
body {
   background-color: var(--bodyColor);
   margin: 0;
}

.HamburgerMenu {
   background-color: var(--bodyColor);
   display: none;
   position: absolute;
   top: 50px;
   right: 0;
   text-align: center;
   padding: 50px;
   .youAreLoggedInAs{
      margin:20px 0 20px 0;
      color: var(--yellowColor);
      font-size: 30px;
      font-family: Arial, Helvetica, sans-serif;
   }
   button{
      text-decoration: none;
      color: black;
      margin: 10px 0 10px 0;
      text-align: center;
      outline: none;
      -webkit-tap-highlight-color: transparent;
      font-size: 30px;
      cursor: pointer;
      transition: all .2s cubic-bezier(0.230, 1.650, 0.380, 1.650);
      border:none;
      border-radius: 5px;
      padding: 3px 5px 3px 5px;
      background-color: var(--greenColor);
      font-family: Arial, Helvetica, sans-serif;
      width: 200px;
      &:hover{
         background-color: #36a568;
         margin: 3px 0 3px 0;
         padding: 10px;
         color:white;
      }
   }
   .homeLink{
         text-align: center;
         display: block;
         color: white;
         font-family: Arial, Helvetica, sans-serif;
         font-size: 20px;
         margin: 10px 0 0 0;
     
   }
}
.MainUi {
   height: 100vh;
   width: 100vw;
   display: flex;

   .ChatMenu {
      height: 100%;
      width: 400px;
      border: solid var(--lineColor);
      background-color: var(--topBarColor);
      color: var(--textColor);
      overflow: auto;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 30px;
      text-align: center;
      border-width: 0;
      border-width: 0;
      .individualChat {
         padding: 2px;
         cursor: pointer;
         user-select: none;
         &:hover {
            background-color: var(--bodyColor);
         }
      }
   }

   .textsUiAndTopBarContainer {
      height: 100%;
      width: calc(100% - 400px);
      display: block;

      .TopBar {
         height: 50px;
         width: 100%;
         color: var(--textColor);
         background-color: var(--topBarColor);
         font-family: Arial, Helvetica, sans-serif;
         text-align: center;
         div {
            user-select: none;
            display: inline;
            font-size: 40px;
         }
         a{
            user-select: none;
            float: right;
            cursor: pointer;
            content:url("../resources/hamburger.svg");
            height: 50px;
         }
      }

      .TextsUi {
         height: calc(100% - 50px);
         width: 100%;
         .messagesView {
            overflow-x: hidden;
            overflow-y: auto;
            position: static;
            margin: 0;
            height: 93%;
            width: 100%;
            .individualMessage {
               position: static;
               text-align: left;
               word-wrap: break-word;
               padding: 15px 40px 15px 40px ;
               border:solid;
               border-width: 0 0 1px 0;
               border-radius: 8px;
               border-color: var(--lineColor) !important;
               margin: 0;
               font-size: 30px;
               color: var(--greenColor);
               font-family: Arial, Helvetica, sans-serif;
               .info {
                  display: block;
                  line-height: 30px;
                  .sender {
                     display: inline-block;
                     font-size: 20px;
                  }
                  .time {
                     line-height: 25px;
                     display: inline-block;
                     color: var(--textColor);
                     font-size: 15px;
                     vertical-align: bottom;
                     margin-left: 0.5em;
                  }
               }
            }
         }
         .messageInputs {
            background-color: var(--bodyColor);
            bottom: 0;
            right: 0;
            left: 0;
            display: flex;
            position: static;
            font-size: 30px;
            height: 7%;
            margin: 0;
            z-index: 0;
            textarea {
               outline: none;
               color: var(--textareaAbuttonTextColor);
               background-color: var(--textareaColor);
               display: inline-block;
               margin: 0;
               height: 100%;
               width: 90%;
               position: static;
               font-size: 30px;
               resize: none;
               padding: 0px 2px 0px 15px;
               font-family: Arial, Helvetica, sans-serif;
               border: none;
            }
            button {
               outline: none;
               color: var(--textareaAbuttonTextColor);
               background-color: var(--buttonColor);
               display: inline-block;
               margin: 0;
               height: 100%;
               width: 10%;
               position: static;
               font-size: 30px;
               line-height: 1em;
               font-family: Arial, Helvetica, sans-serif;
               border: none;
               cursor: pointer;
            }
         }
      }
   }
}
