:root {
   --bodyColor: rgb(20, 20, 20);
   --contrastingBodyColor: rgb(30, 30, 30);
   --textColor: white;
   --yellowColor: rgb(196, 199, 0);
   --greenColor: #52fb9e;
   --darkGreenColor: #36a568;
   --lineColor: white;
   --hamburgerColor: brightness(100%);
}
html {
   overflow-y: hidden;
   overflow-x: visible;
}
body {
   background-color: var(--bodyColor);
   margin: 0;
}
::-webkit-scrollbar {
   width: 15px;
 }
 ::-webkit-scrollbar-track {
   background-color:var(--bodyColor);
 }
::-webkit-scrollbar-thumb {
   background: var(--contrastingBodyColor); 
    border-radius: 2px;
 }

.mainUi {
   height: 100vh;
   width: 100vw;
   display: flex;
   .AddChat{
      display: block;
      position: fixed;
      padding: 50px 100px 150px 100px;
      text-align: center;
      border:solid 1px var(--lineColor);
      border-radius: 17px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      background-color: var(--bodyColor);
      color: var(--textColor);
      font-family: Arial, Helvetica, sans-serif;    
      a{
         user-select: none;
         position: absolute;
         right: 0;
         top: 0;
         cursor: pointer;
         content: url("../resources/exit.svg");
         height: 50px;
         transition: 0.2s;
         &:hover {
            opacity: 0.8;
         }
      }
      .title{
         font-size: 40px;
         margin-bottom: 30px;
      }
      .Create{
         padding: 3px 40px 3px 40px;
         font-size:25px;
         cursor: pointer;
         background-color:var(--greenColor);
         color:var(--bodyColor);
         transition: 0.1s;
         border:none;
         border-radius: 8px;
         outline:none;
         &:hover{
            padding-left: 70px;
            padding-right: 70px;
            background-color:var(--darkGreenColor);
            color:var(--textColor);
         }
      }
      input{
         font-size: 20px;
         margin-bottom: 20px;
      }
   }
   .internetWarningPopUp{
      display: none;
      position: fixed;
      background-color: var(--contrastingBodyColor);
      border: solid var(--lineColor);
      border-width: 1px;
      border-radius: 15px;
      text-align: center;
      color: var(--textColor);
      font-family: Arial, Helvetica, sans-serif;
      font-size: 30px;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
   }
   .grayBackground {
      display: none;
      z-index: 1;
      position: fixed;
      height: 100vh;
      width: 100vw;
      background-color: black;
      opacity: 0.4;
   }
   .Settings {
      display: none;
      opacity: 1;
      position: fixed;
      z-index: 1;
      border-radius: 17px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: var(--textColor) solid;
      border-width: 1px;
      padding: 50px 100px 150px 100px;
      background-color: var(--contrastingBodyColor);
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      a {
         user-select: none;
         position: absolute;
         right: 0;
         top: 0;
         cursor: pointer;
         content: url("../resources/exit.svg");
         height: 50px;
         transition: 0.2s;
         &:hover {
            opacity: 0.8;
         }
      }
      .title {
         color: var(--textColor);
         font-size: 40px;
         margin-bottom: 30px;
      }
      div {
         color: var(--yellowColor);
         font-size: 30px;
      }
      select {
         margin-top: 10px;
         font-size: 25px;
         cursor: pointer;
      }
   }
   .HamburgerMenu {
      background-color: var(--bodyColor);
      display: none;
      position: absolute;
      top: 50px;
      right: 0;
      text-align: center;
      padding: 50px;
      .youAreLoggedInAs {
         margin: 20px 0 20px 0;
         color: var(--yellowColor);
         font-size: 30px;
         font-family: Arial, Helvetica, sans-serif;
      }
      button {
         text-decoration: none;
         color: black;
         margin: 10px 0 10px 0;
         text-align: center;
         outline: none;
         -webkit-tap-highlight-color: transparent;
         font-size: 30px;
         cursor: pointer;
         transition: all 0.2s cubic-bezier(0.23, 1.65, 0.38, 1.65);
         border: none;
         border-radius: 5px;
         padding: 3px 5px 3px 5px;
         background-color: var(--greenColor);
         font-family: Arial, Helvetica, sans-serif;
         width: 200px;
         &:hover {
            background-color: var(--darkGreenColor);
            margin: 3px 0 3px 0;
            padding: 10px;
            color: white;
         }
      }
      .homeLink {
         text-align: center;
         display: block;
         color: white;
         font-family: Arial, Helvetica, sans-serif;
         font-size: 20px;
         margin: 10px 0 0 0;
      }
   }
   .ChatMenu {
      display: block;
      height: 100%;
      width: 400px;
      border: solid var(--lineColor);
      background-color: var(--contrastingBodyColor);
      color: var(--textColor);
      overflow: auto;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 30px;
      text-align: center;
      border-width: 0;
      .topBar{
         display: none;
      }
      .individualChat {
         padding: 2px;
         cursor: pointer;
         user-select: none;
         &:hover {
            background-color: var(--bodyColor);
         }
      }
     .addChatButton {
        outline:none;
        border:solid 1px var(--lineColor);
        background-color: transparent;
        color:var(--greenColor);
        padding: 0 25px 0 25px;
        position:absolute;
        border-radius: 99px;
        font-size: 80px;
        bottom: 20px;
        left: 20px;
        cursor: pointer;
        &:hover {
           
           background-color: var(--bodyColor);
        }
     } 
   }

   .rightContainer {
      height: 100%;
      width: calc(100% - 400px);
      display: block;
      overflow-y: visible;
      overflow-x: hidden;
      .TopBar {
         height: 50px;
         width: 100%;
         color: var(--textColor);
         background-color: var(--contrastingBodyColor);
         font-family: Arial, Helvetica, sans-serif;
         text-align: center;
         div {
            user-select: none;
            display: inline;
            font-size: 40px;
         }
         .hamburgerButton {
            user-select: none;
            position: absolute;
            right: 0;
            cursor: pointer;
            content: url("../resources/hamburger.svg");
            height: inherit;
            transition: 0.2s;
            &:hover {
               opacity: 0.8;
            }
         }
      }

      .TextsUi {
         height: calc(100% - 50px);
         width: 100%;
         .messagesView {
            overflow-x: hidden;
            overflow-y: auto;
            position: static;
            margin: 0;
            height: calc(100% - 90px);
            width: 100%;
           
            .individualMessage {
               position: static;
               text-align: left;
               word-wrap: break-word;
               padding: 15px 40px 15px 40px;
               border: solid;
               border-width: 0 0 1px 0;
               border-radius: 8px;
               border-color: var(--lineColor) !important;
               margin: 0;
               font-size: 30px;
               color: var(--greenColor);
               font-family: Arial, Helvetica, sans-serif;
               .info {
                  display: block;
                  line-height: 30px;
                  .sender {
                     display: inline-block;
                     font-size: 20px;
                  }
                  .time {
                     line-height: 25px;
                     display: inline-block;
                     color: var(--textColor);
                     font-size: 15px;
                     vertical-align: bottom;
                     margin-left: 0.5em;
                  }
               }
            }
         }
         .messageInputs {
            background-color: var(--bodyColor);
            bottom: 0;
            right: 0;
            left: 0;
            display: flex;
            position: static;
            font-size: 30px;
            height: 90px;
            margin: 0;
            z-index: 0;
            textarea {
               outline: none;
               color: var(--textColor);
               background-color: var(--bodyColor);
               display: inline-block;
               margin: 0;
               height: 100%;
               width: 100%;
               position: static;
               font-size: 30px;
               resize: none;
               padding: 0px 2px 0px 15px;
               font-family: Arial, Helvetica, sans-serif;
               border: none;
            }
            button {
               display: none;
               color: var(--textColor);
               background-color: var(--bodyColor);
               margin: 0;
               height: 100%;
               position: static;
               font-size: 30px;
               line-height: 1em;
               font-family: Arial, Helvetica, sans-serif;
               border: none;
               cursor: pointer;
            }
         }
      }
   }
}
@media only screen and (max-device-width: 1300px) and (orientation: portrait) {
   .mainUi {
      .chatMenu {
         width: 300px
      }
      .rightContainer {
         width: calc(100% - 300px);
         .TextsUi .messageInputs{
            textarea{
               width: 80%;
            }
            button{
               display: block;
               width: 20%;
            }
         }
      }
   }
}
@media only screen and (max-device-width: 1400px) and (orientation: landscape) {
   .mainUi {
      .chatMenu {
         width: 400px
      }
      .rightContainer {
         width: calc(100% - 400px);
         .TextsUi {
            .messageInputs{
               textarea{
                  width: 80%;
               }
               button{
                  display: block;
                  width: 20%;
               }
            }
         }
      }
   }
}
@media only screen and (max-device-width: 760px) and (orientation: portrait) {
   html {
      overflow-y: visible;
      overflow-x: visible;
   }
   .mainUi{
      display: block;
      .Settings{
         padding: 50px 100px 100px 100px;
         a{
            height: 40px;
         }
      }
      .HamburgerMenu{
         position: static;
         padding: 50px 0 0 0;
         top: 40px;
         .exitButton{
            position: absolute;
            top: 0;
            right: 0;
            height: 40px;
            content: url('../resources/exit.svg');
         }
      }
      .ChatMenu{
         width: 100%;
         display: block;
         .topBar{
            display: block;
            font-size: 30px;
            height: 40px;
            .exitButton{
               position: absolute;
               top: 0;
               left: 0;
               height: 40px;
               content: url('../resources/exit.svg');
            }
         }
         .chats{
            overflow: auto;
            height: calc(100% - 40px);
            .individualChat{
               border:solid var(--lineColor);
               border-width: 1px 0 0 0;
               border-radius: 3px;
            }
         }
      }
      .rightContainer{
         width: 100%;
         display: none;
         .TopBar{
            position: fixed;
            top:0;
            height: 40px;
            div{
               font-size: 30px;
            }
            .chatButton{
               content: url('../resources/chatButton.svg');
               position: absolute;
               left: 0;
            }
            a{
               -webkit-tap-highlight-color: transparent;
               height: inherit;
            }
         }
         .TextsUi{
            height: 100%;
            .messagesView{
               height: calc(100% - 110px);
               padding-top: 40px;
               .individualMessage{
                  padding: 5px 20px 5px 20px;
                  font-size: 20px;
                  .info{
                     line-height: 20px;
                     .sender{
                        font-size: 13px;
                     }
                     .time{
                        line-height: 16px;
                        font-size: 10px;
                     }
                  }
               }
            }
            .messageInputs{
               height: 70px;
               textarea{
                  width: 80%;
                  font-size: 22px;
               }
               button{
                  display: block;
                  -webkit-tap-highlight-color: transparent;
                  outline:none;
                  width: 20%;
                  font-size: 22px;
               }
            }
         }
      }
   }
}
