:root {
   --bodyColor: rgb(20, 20, 20);
   --contrastingBodyColor: rgb(30, 30, 30);
   --textColor: white;
   --yellowColor: rgb(196, 199, 0);
   --greenColor: #52fb9e;
   --lineColor: white;
   --hamburgerColor: brightness(100%);
}
html {
   overflow: visible;
}
body {
   background-color: var(--bodyColor);
   margin: 0;
}

.mainUi {
   height: 100vh;
   width: 100vw;
   display: flex;
   .internetWarningPopUp{
      display: none;
      position: fixed;
      background-color: var(--contrastingBodyColor);
      border: solid var(--lineColor);
      border-width: 1px;
      border-radius: 15px;
      text-align: center;
      color: var(--textColor);
      font-family: Arial, Helvetica, sans-serif;
      font-size: 30px;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
   }
   .grayBackground {
      display: none;
      z-index: 1;
      position: fixed;
      height: 100vh;
      width: 100vw;
      background-color: black;
      opacity: 0.4;
   }
   .Settings {
      display: none;
      opacity: 1;
      position: fixed;
      z-index: 1;
      border-radius: 10px;
      top: 50%;
      left: 50%;
      border: var(--textColor) solid;
      border-width: 1px;
      transform: translate(-50%, -50%);
      padding: 50px 100px 150px 100px;
      background-color: var(--contrastingBodyColor);
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      a {
         user-select: none;
         position: absolute;
         right: 0;
         top: 0;
         cursor: pointer;
         content: url("../resources/exit.svg");
         height: 50px;
         transition: 0.2s;
         &:hover {
            opacity: 0.8;
         }
      }
      .title {
         color: var(--textColor);
         font-size: 40px;
         margin-bottom: 30px;
      }
      div {
         color: var(--yellowColor);
         font-size: 30px;
      }
      select {
         margin-top: 10px;
         font-size: 25px;
         cursor: pointer;
      }
   }
   .HamburgerMenu {
      background-color: var(--bodyColor);
      display: none;
      position: absolute;
      top: 50px;
      right: 0;
      text-align: center;
      padding: 50px;
      .youAreLoggedInAs {
         margin: 20px 0 20px 0;
         color: var(--yellowColor);
         font-size: 30px;
         font-family: Arial, Helvetica, sans-serif;
      }
      button {
         text-decoration: none;
         color: black;
         margin: 10px 0 10px 0;
         text-align: center;
         outline: none;
         -webkit-tap-highlight-color: transparent;
         font-size: 30px;
         cursor: pointer;
         transition: all 0.2s cubic-bezier(0.23, 1.65, 0.38, 1.65);
         border: none;
         border-radius: 5px;
         padding: 3px 5px 3px 5px;
         background-color: var(--greenColor);
         font-family: Arial, Helvetica, sans-serif;
         width: 200px;
         &:hover {
            background-color: #36a568;
            margin: 3px 0 3px 0;
            padding: 10px;
            color: white;
         }
      }
      .homeLink {
         text-align: center;
         display: block;
         color: white;
         font-family: Arial, Helvetica, sans-serif;
         font-size: 20px;
         margin: 10px 0 0 0;
      }
   }
   .ChatMenu {
      height: 100%;
      width: 400px;
      border: solid var(--lineColor);
      background-color: var(--contrastingBodyColor);
      color: var(--textColor);
      overflow: auto;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 30px;
      text-align: center;
      border-width: 0;
      border-width: 0;
      .individualChat {
         padding: 2px;
         cursor: pointer;
         user-select: none;
         &:hover {
            background-color: var(--bodyColor);
         }
      }
   }

   .rightContainer {
      height: 100%;
      width: calc(100% - 400px);
      display: block;

      .TopBar {
         height: 50px;
         width: 100%;
         color: var(--textColor);
         background-color: var(--contrastingBodyColor);
         font-family: Arial, Helvetica, sans-serif;
         text-align: center;
         div {
            user-select: none;
            display: inline;
            font-size: 40px;
         }
         a {
            user-select: none;
            position: absolute;
            right: 0;
            cursor: pointer;
            content: url("../resources/hamburger.svg");
            height: 50px;
            transition: 0.2s;
            &:hover {
               opacity: 0.8;
            }
         }
      }

      .TextsUi {
         height: calc(100% - 50px);
         width: 100%;
         .messagesView {
            overflow-x: hidden;
            overflow-y: auto;
            position: static;
            margin: 0;
            height: 93%;
            width: 100%;
            .individualMessage {
               position: static;
               text-align: left;
               word-wrap: break-word;
               padding: 15px 40px 15px 40px;
               border: solid;
               border-width: 0 0 1px 0;
               border-radius: 8px;
               border-color: var(--lineColor) !important;
               margin: 0;
               font-size: 30px;
               color: var(--greenColor);
               font-family: Arial, Helvetica, sans-serif;
               .info {
                  display: block;
                  line-height: 30px;
                  .sender {
                     display: inline-block;
                     font-size: 20px;
                  }
                  .time {
                     line-height: 25px;
                     display: inline-block;
                     color: var(--textColor);
                     font-size: 15px;
                     vertical-align: bottom;
                     margin-left: 0.5em;
                  }
               }
            }
         }
         .messageInputs {
            background-color: var(--bodyColor);
            bottom: 0;
            right: 0;
            left: 0;
            display: flex;
            position: static;
            font-size: 30px;
            height: 7%;
            margin: 0;
            z-index: 0;
            textarea {
               outline: none;
               color: var(--textColor);
               background-color: var(--bodyColor);
               display: inline-block;
               margin: 0;
               height: 100%;
               width: 90%;
               position: static;
               font-size: 30px;
               resize: none;
               padding: 0px 2px 0px 15px;
               font-family: Arial, Helvetica, sans-serif;
               border: none;
            }
            button {
               outline: none;
               color: var(--textColor);
               background-color: var(--bodyColor);
               display: inline-block;
               margin: 0;
               height: 100%;
               width: 10%;
               position: static;
               font-size: 30px;
               line-height: 1em;
               font-family: Arial, Helvetica, sans-serif;
               border: none;
               cursor: pointer;
            }
         }
      }
   }
}
